
  .head {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
    width: 20%;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
  }
  
  input[type="text"]:focus {
    outline: none;
    border: 2px solid #007bff;
  }
  